header {display: block;}
body {padding-bottom:3em;margin:0;font-family: 'Source Sans Pro', sans-serif;background-color:rgb(217, 218, 217);}
a {text-decoration: none;color: white}
p {display: inline;}
main {color: white;;width: 100%;;height: 900px;;margin:0;;background-color: rgba(42, 41, 41, 0.4);}
/* Main Title */
/*div.title {width: 70em;padding-top: 10em;padding-left: 30em;}
div.title h1{font-size: 4em;}
div.title p {font-size: 2em;}*/

#game-title h1 {font-size: 3.5em;}

#navbar {margin:0;padding:3em;list-style: none;background-color: rgb(36, 45, 107)}
#navbar li {padding-right:.5em;display: inline;font-size: 1.5em;color: white}
#directions, #login-form, #signup-form{display: none;}
#game-title {font-family:'Montserrat',sans-serif;display: block;text-align: center;font-size: 1.5em;}

#login-form,#signup-form {display: none;font-size: .5em;}





