@-webkit-keyframes shake {
  0% {-webkit-transform: rotate(5deg) perspective(200px);}
  25% {-webkit-transform: rotate(0deg) perspective(200px);}
  50% {-webkit-transform: rotate(-5deg) perspective(200px);}
  75% {-webkit-transform: rotate(0deg) perspective(200px);}
  100% {-webkit-transform: rotate(5deg) perspective(200px);}
}
@keyframes shake {
  0% {transform: rotate(5deg) perspective(200px);}
  25% {transform: rotate(0deg) perspective(200px);}
  50% {transform: rotate(-5deg) perspective(200px);}
  75% {transform: rotate(0deg) perspective(200px);}
  100% {transform: rotate(5deg) perspective(200px);}
}
#gamefield {margin: 3em auto;width:700px;height:300px;border:1px solid black;background-image: url('../imgs/background.png');-webkit-animation:shake .2s ease infinite alternate;animation: shake .2s linear infinite alternate;}
#directions{text-align: center}
#directions h1{text-align: center}
#directions ul{display: inline-flex;margin-bottom: 45px}
#directions li{margin-left: 0;list-style: none}
#directions .dir_num {background-color: green; width: 3.5em;font-size: 3em;border-radius: 100%;background-color: rgb(11, 173, 111)}
#directions a {display: block; color:black;font-size: 1.5em}
#directions a:hover {transition:all .2s ease-in; color:rgb(179, 245, 200);}

.player {
  position: absolute;
  background-image: url('../imgs/sonic_copy.gif');
  height:47px;
  width:53px;
  background-repeat: no-repeat;
}

.rock {
  padding-left: 3em;
  position: absolute;
  background-image: url('../imgs/rock.png');
  background-repeat: no-repeat;
  height:47px;
  width: 53px;
}