#gamefield {margin: 3em auto;width:700px;height:300px;border:1px solid black;background-image: url('../imgs/background.png')}
#directions{text-align: center}
#directions h1{text-align: center}
#directions ul{display: inline-table;}
#directions li{margin-left: 0}
#directions a {display: block; color:black;font-size: 1.5em}
#directions a:hover {transition:all .2s ease-in; color:rgb(179, 245, 200);}

.player {
  position: absolute;
  background-image: url('../imgs/sonic_copy.gif');
  height:47px;
  width:53px;
  background-repeat: no-repeat;
}

.rock {
  position: absolute;
  background-image: url('../imgs/rock.png');
  background-repeat: no-repeat;
  height:19;
  width: 17;
}