

<section id="directions" class="hero-unit title">
  <h1>Avalanche!</h1>
  <h2>DIRECTIONS: </h2>
  <ul>
  	<li class="dir_num">1</li>
    <li>Avoid the rocks to survive as long as possible!</li>
  	<li class="dir_num">2</li>
    <li>Use the keyboard arrow keys to move left and right</li>
  	<li class="dir_num">3</li>
    <li>The longer you last the higher your score will be</li>
  	<li class="dir_num">4</li>
    <li>When the game is over(you die), your overall time will be displayed</li>
 	<li class="dir_num">5</li> 
    <li>Record your time or click "Play Again" to beat your previous time</li>
  </ul>
  <hr>
  <a href="/game" id="orange" class="btn btn-primary start">Start!</a>
</section>
