<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300italic|Montserrat' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/game.css">

  <title>Avalanche Game</title>
</head>
<body>
  <header>
    <%= erb :_top_menu %>
  </header>
  
  <main>
    <section class="hero-unit title">
        <aside>
          <h1>Avalanche!</h1>
          <p>A simple game of survival. Help Sonic avoid the falling rocks and live to tell the tale!</p>
          <hr>
          <button type="button" href="#" id="orange" class="btn btn-primary btn-large" data-toggle="modal" data-target="#signup">Sign Up</button>
          <button type="button" href="#" id="orange" class="btn btn-primary btn-large" data-toggle="modal" data-target="#login">Login</button>
        </aside>
    </section>
    
     <div id="login" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Login</h3>
          </div>
          <div class="modal-body">
            <form id="login-form"role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="pwd" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <div id="signup" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Sign Up</h3>
          </div>
          <div class="modal-body">
            <form id="signup-form"ole="form">
            <div class="form-group">
              <input type="text" class="form-control" name="new_user[username]" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" name="new_user[password]" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <%=yield%>


  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/mousetrap.js"></script>
  <script src="/js/game.js"></script>
  <script src="/js/player.js"></script>
  <script src="/js/rock.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
