<% if session[:error] %>
  <p><%= display_error %></p>
<% end %>

<% if current_user %>
  <p>Hello! <%= current_user.username %></p>
  <button type="button" href="/logout" class="btn btn-primary btn-large">Logout</button>
<% else %>
  <!-- <p>Welcome</p> -->
<% end %>
